body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
main {
    margin: auto;
}
#table-head {
    position: relative;
    overflow: hidden;
}
#header,#stopwatch {
    font-weight: 500;
    font-size: 24px;
    margin: 10px;
}
#header {
    float: left;
}
#stopwatch {
    float: right;
}
caption {
    font-size: 20pt;
    padding: 10px;
}
table { 
    border-collapse: collapse; 
    font-family: Calibri, sans-serif;
    cursor: pointer;
}
colgroup, tbody { 
    border: solid medium; 
}
td { 
    border: solid thin; 
    height: 2em; 
    width: 2em; 
    text-align: center; 
    padding: 0; 
}
td:hover, .lightGray {
    background-color: #e6e6e6;
}
.middleGray {
    background-color: #d9d9d9;
}
.gray {
    background-color: #bfbfbf !important;
}
td.red {
    color: red;
    border-color: #000;
}
td.original {
    font-weight: 600;
}
@media screen and (max-width: 765px){
    main {
        width: 300px;
    }
}
@media screen and (min-width: 765px){
    main {
        width: 450px;
    }
    td {
        height: 3em; 
        width: 3em; 
    }
}
#solved-dialog {
    position: absolute;
    top: 210px;
    left: 50%;
}
.hide {
    display: none;
}
#solved-dialog div:only-child {
    position: relative; 
    left: -50%; 
    border: solid black 1px;
    border-radius: 4px;
    z-index: 10;
    background-color: white;
    padding: 10px;
    font-size: 20pt;
}